body{
    color: rgb(57, 61, 61);
    background-color: rgb(231, 240, 243);
    background-image: url("../src/backphoto.jpg")
}
.posts h1{
    margin-left: 23%;
    margin-right: 23%;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    background-color: white;
    border-radius: 3%;
    -webkit-box-shadow: 6px 4px 42px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 4px 42px -8px rgba(0,0,0,0.47);
    margin-top: 4%;
    box-shadow: 6px 4px 42px -8px rgba(0,0,0,0.47);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
#head{
    background-color: rgb(255, 255, 255);
    padding-block-end: 4%;
    padding: 2%;
    border-radius: 0px 0px 31px 31px;
    
}
#brand{

    font-weight: bold;
    color: rgb(105, 105, 105);
    border-radius: 12%;
    padding-right: 35%;
    padding-left: 0%;
}
ul li{
    display: inline;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    font-family:  Geneva, Verdana, sans-serif;
    color: rgb(105, 105, 105);
  }

#ser{
   margin-left:35%;
}
#ser:hover{
    color: black;
    font-size: 30.2px;
}
#ser:active{
    color: blueviolet;
}
a{
    text-decoration: none;
    color: inherit
}
#hope{
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(158, 230, 51);
    -webkit-box-shadow: 0px 8px 0px 4px rgba(46,125,0,0.87);
    -moz-box-shadow: 0px 8px 0px 4px rgba(46,125,0,0.87);
    box-shadow: 0px 8px 0px 4px rgba(46,125,0,0.87);
    border-radius: 91px 91px 91px 91px;
    -moz-border-radius: 91px 91px 91px 91px;
    -webkit-border-radius: 91px 91px 91px 91px;
    border: 0px solid #000000;
    padding: 5%;
    
}
#hope:active{
    -webkit-box-shadow: 0px 0px 0px 4px rgb(161, 248, 31);
    -moz-box-shadow: 0px 8px 0px 1px rgb(158, 230, 51);
    box-shadow: 0px 3px 0px 1px rgb(158, 230, 51);
    margin-top: 0.5%;
    font-size: 39.7px;
}
#hope:hover{
    background-color: rgb(161, 248, 31);
    transform: translate(20px, 10px)
}
